.LoginContainer {
  border-width: thin;;
  border-color: black;
  border-style: solid;
  margin-left: 1px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.InputStyle {
  height: 14px;
  width: 150px;
}
