.LoginContainer {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.InputStyle {
  height: 20px;
  width: 200px;
}

.padding {
  height: 10px;
}

.button {
  height: 40px;
  width: 200px;
}
