.App {
  background-color:#EAECEE;
  height: 100vh;
  margin: auto;
  text-align: center;
  width: auto;
}

.App-header {
  background-color: #0B5345;
  color: white;
  height: 40px;
}

.App-title {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  text-align:left;
}
.App-content {
  width: 100%;
}

.App-middle {
  display: inline-block;
  width: 66%;
}
